@model Roostersysteem.Models.Persoon

@{
    ViewBag.Title = "Mijn gegevens";
}

@* Gemaakt door: Mitchell; op 26-10: layout gemaakt
    bijgewerkt op: 27-10 en 28-10 layout bijgewerkt*@

@*@{
        var persoonNaam = "";
        var persoonEmail = "";
        var telefoonNr = "";
        var straatNaam = "";
        var huisNummer = "";
        var postcode= "";

        //var = "";
        //var = "";

        if (IsPost)
        {
            persoonNaam = Request.Form["persoonNaam"];
            persoonEmail = Request.Form["persoonEmail"];
            telefoonNr = Request.Form["telefoonNr"];
            straatNaam = Request.Form["straatNaam"];
            huisNummer = Request.Form["huisNummer"];
            postcode = Request.Form["postcode"];
        }
    }

    @{
        var gebruikersnaam = "";
        var nieuwWachtwoord = "";
        var nieuwHerWachtwoord = "";

        if (IsPost)
        {
            gebruikersnaam = Request.Form["gebruikersnaam"];
            nieuwWachtwoord = Request.Form["nieuwWachtwoord"];
            nieuwHerWachtwoord = Request.Form["niewHerWachtwoord"];
        }
    }*@



<html>
<head>
    <title>MijnGegevens</title>
</head>
<body>
    
    <ol class="breadcrumb">
        <h1>Roostersysteem Zuyd</h1>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>>Profiel</a></li>
        <li class="active">Mijn gegevens</li>
        
    </ol>

    @using (Html.BeginForm("MijnGegevens", "Profiel", FormMethod.Post))
    {
        <div class="col-lg-6">
            @* personalia*@
            <fieldset>

                <div>
                    <h4>
                        Personalia:
                    </h4>
                    <fieldset>
                        <label class="labelsGegevens" id="labelsVakken">PersoonId:</label> @Html.TextBoxFor(m => m.persoonId)<br />
                        <label class="labelsGegevens" id="labelsVakken">Naam:</label>  @Html.TextBoxFor(m => m.persoonNaam)<br />
                        <label class="labelsGegevens" id="labelsVakken">E-mailadres:</label> @Html.TextBoxFor(m => m.persoonEmail)<br />
                        <label class="labelsGegevens" id="labelsVakken">Telefoonnummer:</label> @Html.TextBoxFor(m => m.telefoonNr) <br />
                        <label class="labelsGegevens" id="labelsVakken">Straat:</label> @Html.TextBoxFor(m => m.straatNaam)<br />
                        <label class="labelsGegevens" id="labelsVakken">Huisnummer + toevoeging (optioneel):</label> @Html.TextBoxFor(m => m.huisNummer)<br />
                        <label class="labelsGegevens" id="labelsVakken">Postcode:</label> @Html.TextBoxFor(m => m.postcode) <br />
                    </fieldset>
                </div>
            </fieldset>

            @* opslaan *@

            <br />
            <fieldset>
                <div id="borderDefaultTop">

                    <div class="col-lg-offset-5" style="margin-left:40%;">
                        <br />
                        <div>
                            <input type="submit" value="Create" />
                            
                            @* <input class="btn-default" id="annuleren" type="submit" value="Annuleren" />*@

                        </div>

                    </div>

                </div>

            </fieldset>
            <br />
        </div>
    }
    @*<div>
            <br />
            @* Wijzigen van wachtwoord

            <fieldset>
                <div id="borderDefaultTop">
                    <fieldset>
                        <h4>
                            Accountgegevens:
                        </h4>
                        <label class="labelsGegevens">Gebruikersnaam: </label><input type="text" name="gebruikersnaam" style="width:235px; margin-left:4px;" maxlength="30" value="@Request.Form["gebruikersnaam"]" /><br />
                        <label class="labelsGegevens">Wachtwoord: </label><input type="password" name="wachtwoord" style="width:235px; margin-left:4px;" maxlength="30" value="@Request.Form["nieuwWachtwoord"]" /><br />
                        <label class="labelsGegevens">Hehaal wachtwoord: </label><input type="password" name="herhaalWw" style="width:235px; margin-left:4px;" maxlength="30" value="@Request.Form["nieuwHerWachtwoord"]" /><br />
                    </fieldset>
                </div>
            </fieldset>
            <br />

            Img uploaden
            <fieldset>
                <div id="borderDefaultTop">
                    <div class="col-lg-7" style="margin-left:0px; padding-left:0px;">
                        <h4>Upload je profielfoto:</h4>
                        <label>Upload hier je profielfoto voor je profiel:</label>
                    </div>
                    <div class="col-lg-5" style="padding-left:32px;">
                        <br />
                        <br />
                        <input style="margin-top:-2px; padding-left:4px;" type="file" name="profielFoto" />
                        <br />
                    </div>

                </div>

            </fieldset>




        </div>*@
</body>
</html>