@model Roostersysteem.Models.Persoon

@{
    ViewBag.Title = "Mijn gegevens";
}

@* Gemaakt door: Mitchell; op 26-10: layout gemaakt
    bijgewerkt op: 27-10 en 28-10 layout bijgewerkt*@


<html>
<head>
    <title>MijnGegevens</title>
</head>
<body>

    <ol class="breadcrumb">
        <h1>Roostersysteem Zuyd</h1>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>>Profiel</a></li>
        <li class="active">Mijn gegevens</li>

    </ol>

    @using (Html.BeginForm("MijnGegevens", "Profiel", FormMethod.Post))
    {
        <div class="col-lg-10 col-lg-offset-2">
            @* personalia*@

            <div>
                <h2>
                    Personalia:
                </h2>
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <fieldset>


                        <span id="labelsGegevens" style="margin-right:200px;"> Persoonsnummer: </span>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PersoonId, new { @PersoonId = "1"}) 
                            @Html.ValidationMessageFor(model => model.PersoonId)
                        </div>


                        <span id="labelsGegevens" style="margin-right:200px;"> Voor- en achternaam: </span>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PersoonNaam)
                            @Html.ValidationMessageFor(model => model.PersoonNaam)
                        </div>

                        <span id="labelsGegevens" style="margin-right:200px;"> Emailadres: </span>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PersoonEmail)
                            @Html.ValidationMessageFor(model => model.PersoonEmail)
                        </div>


                        <span id="labelsGegevens" style="margin-right:200px;"> Telefoonnummer: </span>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TelefoonNr)
                            @Html.ValidationMessageFor(model => model.TelefoonNr)
                        </div>

                        <span id="labelsGegevens" style="margin-right:200px;"> Straatnaam: </span>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.StraatNaam)
                            @Html.ValidationMessageFor(model => model.StraatNaam)
                        </div>

                        <span id="labelsGegevens" style="margin-right:200px;"> Huisnummer (+ toevoeging): </span>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.HuisNummer)
                            @Html.ValidationMessageFor(model => model.HuisNummer)
                        </div>


                        <span id="labelsGegevens" style="margin-right:200px;"> Postcode: </span>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Postcode)
                            @Html.ValidationMessageFor(model => model.Postcode)
                        </div>


                    </fieldset>
                }
            </div>

            @* opslaan *@

            <br />
            <fieldset>
                <div id="borderDefaultTop">

                    <div class="col-lg-offset-3" style="margin-left:40%;">
                        <br />
                        <div>
                            <input type="submit" value="Opslaan gegevens" />

                            @* <input class="btn-default" id="annuleren" type="submit" value="Annuleren" />*@

                        </div>

                    </div>

                </div>

            </fieldset>
            <br />
        </div>
    }

    @using (Html.BeginForm("MijnWachtwoord", "Profiel", FormMethod.Post))
    {
        <div class="col-lg-offset-2">
            <div>
                <h2>
                    Accountgegevens:
                </h2>
                <br />
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    {
                        <fieldset>

                            <div class="editor-field">
                                <span id="labelsGegevens" style="margin-right:200px;"> Gebruikersnaam: </span>
                                @Html.EditorFor(model => model.PersoonGbn)
                                @Html.ValidationMessageFor(model => model.PersoonGbn)
                            </div>

                            <span id="labelsGegevens" style="margin-right:200px;"> Wachtwoord (nieuw): </span>
                            <div class="editor-field">
                                @Html.PasswordFor(model => model.PersoonWw)
                                @Html.ValidationMessageFor(model => model.PersoonWw)
                            </div>

                            <span id="labelsGegevens" style="margin-right:200px;"> Wachtwoord Herhaling: </span>
                            <div class="editor-field">
                                @Html.PasswordFor(model => model.PersoonWwHerhaling)
                                @Html.ValidationMessageFor(model => model.PersoonWwHerhaling)
                            </div>
                        </fieldset>

                        @* opslaan *@

                        <br />
                        <fieldset>
                            <div id="borderDefaultTop">

                                <div class="col-lg-offset-3" style="margin-left:40%;">
                                    <br />
                                    <div>
                                        <input type="submit" value="Opslaan wachtwoord" />

                                        @* <input class="btn-default" id="annuleren" type="submit" value="Annuleren" />*@

                                    </div>

                                </div>

                            </div>

                        </fieldset>
                        <br />
                    }
                    <br />
                }
            </div>
        </div>
     }

    @using (Html.BeginForm("MijnGegevens", "Profiel", FormMethod.Get))
    {

    }

</body>
</html>