@model Roostersysteem.Models.Persoon

@{
    ViewBag.Title = "Mijn gegevens";
}

@* Gemaakt door: Mitchell; op 26-10: layout gemaakt
    bijgewerkt op: 27-10 en 28-10 layout bijgewerkt*@


<html>
<head>
    <title>MijnGegevens</title>
</head>
<body>
    
    <ol class="breadcrumb">
        <h1>Roostersysteem Zuyd</h1>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>>Profiel</a></li>
        <li class="active">Mijn gegevens</li>
        
    </ol>

    @using (Html.BeginForm("MijnGegevens", "Profiel", FormMethod.Post))
    {
        <div class="col-lg-6">
            @* personalia*@
            <fieldset>

                <div>
                    <h4>
                        Personalia:
                    </h4>
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary(true)
                        <fieldset>

                            <div class="editor-label">
                                @Html.LabelFor(model => model.PersoonId)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.PersoonId)
                                @Html.ValidationMessageFor(model => model.PersoonId)
                            </div>

                            <div class="editor-label">
                                @Html.LabelFor(model => model.PersoonNaam)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.PersoonNaam)
                                @Html.ValidationMessageFor(model => model.PersoonNaam)
                            </div>

                            <div class="editor-label">
                                @Html.LabelFor(model => model.PersoonEmail)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.PersoonEmail)
                                @Html.ValidationMessageFor(model => model.PersoonEmail)
                            </div>


                            <div class="editor-label">
                                @Html.LabelFor(model => model.TelefoonNr)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.TelefoonNr)
                                @Html.ValidationMessageFor(model => model.TelefoonNr)
                            </div>

                            <div class="editor-label">
                                @Html.LabelFor(model => model.StraatNaam)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.StraatNaam)
                                @Html.ValidationMessageFor(model => model.StraatNaam)
                            </div>

                            <div class="editor-label">
                                @Html.LabelFor(model => model.HuisNummer)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.HuisNummer)
                                @Html.ValidationMessageFor(model => model.HuisNummer)
                            </div>


                            <div class="editor-label">
                                @Html.LabelFor(model => model.Postcode)
                            </div>
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Postcode)
                                @Html.ValidationMessageFor(model => model.Postcode)
                            </div>


                        </fieldset>
                    }
                    </div>
            </fieldset>

            @* opslaan *@

            <br />
            <fieldset>
                <div id="borderDefaultTop">

                    <div class="col-lg-offset-5" style="margin-left:40%;">
                        <br />
                        <div>
                            <input type="submit" value="Create" />
                            
                            @* <input class="btn-default" id="annuleren" type="submit" value="Annuleren" />*@

                        </div>

                    </div>

                </div>

            </fieldset>
            <br />
        </div>
    }
    @*<div>
            <br />
            @* Wijzigen van wachtwoord

            <fieldset>
                <div id="borderDefaultTop">
                    <fieldset>
                        <h4>
                            Accountgegevens:
                        </h4>
                        <label class="labelsGegevens">Gebruikersnaam: </label><input type="text" name="gebruikersnaam" style="width:235px; margin-left:4px;" maxlength="30" value="@Request.Form["gebruikersnaam"]" /><br />
                        <label class="labelsGegevens">Wachtwoord: </label><input type="password" name="wachtwoord" style="width:235px; margin-left:4px;" maxlength="30" value="@Request.Form["nieuwWachtwoord"]" /><br />
                        <label class="labelsGegevens">Hehaal wachtwoord: </label><input type="password" name="herhaalWw" style="width:235px; margin-left:4px;" maxlength="30" value="@Request.Form["nieuwHerWachtwoord"]" /><br />
                    </fieldset>
                </div>
            </fieldset>
            <br />

            Img uploaden
            <fieldset>
                <div id="borderDefaultTop">
                    <div class="col-lg-7" style="margin-left:0px; padding-left:0px;">
                        <h4>Upload je profielfoto:</h4>
                        <label>Upload hier je profielfoto voor je profiel:</label>
                    </div>
                    <div class="col-lg-5" style="padding-left:32px;">
                        <br />
                        <br />
                        <input style="margin-top:-2px; padding-left:4px;" type="file" name="profielFoto" />
                        <br />
                    </div>

                </div>

            </fieldset>




        </div>*@
</body>
</html>