@model List<Roostersysteem.Models.Vak>
@{
    ViewBag.Title = "Index";

}

<h5 style="color:Red">@ViewBag.msg</h5>
@if (string.IsNullOrEmpty(ViewBag.msg))
{
    using (Html.BeginForm("VakkenKoppelen", "Vakgegevens", FormMethod.Post))
    {
        for (int i = 0; i < Model.Count; i++)
        {
            @Html.CheckBoxFor(m => m[i].IsSelected)
            @Html.Label(Model[i].VakNaam);
            @Html.HiddenFor(m => m[i].VakNaam);
            @Html.HiddenFor(m => m[i].VakId)
            <br />
        }
        <div>  <input type="submit" id="buttonStyle" value="Opslaan" /></div>
    }
}