@model Roostersysteem.Models.Vak

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vak</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VakNaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VakNaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VakCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VakCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VakId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
