@model Roostersysteem.Models.UrenBeschikbaarheid

@{
    ViewBag.Title = "Edit";
}

<h2>Wijzigen</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Uren beschikbaarheid</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UrenBeschikbaarheidId)

        <div class="form-group">
            <p class="col-md-2">Tijdstip ingeven in YYYY-MM-DD <br /> HH-MM-SS</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TijdstipBeschikbaarheid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TijdstipBeschikbaarheid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="col-md-2">Dag ingeven</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DagBeschikbaarheid, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DagBeschikbaarheid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Terug naar het overzicht", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
