@model Roostersysteem.Models.PersoonUren

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PersoonUren</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Persoon.PersoonVoornaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persoon.PersoonVoornaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrenBeschikbaarheid.DagBeschikbaarheid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrenBeschikbaarheid.DagBeschikbaarheid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PersoonUren_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
