@using Roostersysteem.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Login</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <section id="loginForm">
                    <!--form start-->
                    @using (Html.BeginForm("Login", "Inlogpagina", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form-container", role = "form" }))
                    {
                        <div class="row">
                            <div class="col-lg-6">
                                <h1>
                                    Inlog pagina
                                </h1>
                            </div>
                            <div class="col-lg-2">
                                <img src="../images/logo.png" width="100px" height="100px" alt="ZUYD" />
                            </div>
                        </div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Gebruikersnaam, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Gebruikersnaam, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Gebruikersnaam, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Wachtwoord, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Wachtwoord, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Wachtwoord, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-default" />
                            </div>
                        </div>
                    }

                </section>
                <div class="col-md-4 col-sm-4 col-xs-12"></div>
            </div>
        </div>
        @*
                <form class="login-form-container" action="/Inlogpagina/Autherize" method="post">
                    <!--Titel en logo-->
                    <div class="row">
                        <div class="col-lg-6">
                            <h1>
                                Inlog pagina
                            </h1>
                        </div>
                        <div class="col-lg-2">
                            <img src="../images/logo.png" width="100px" height="100px" alt="ZUYD" />
                        </div>
                    </div>
                    <!--gebruikersnaam-->
                    <div class="form-group">
                        <label for="InputGebruiker">Gebruikersnaam:</label>
                        <input type="text" class="form-control" id="persoonGbn" name="persoonGbn" placeholder="Gebruikersnaam" required />
                    </div>
                    <!--wachtwoord-->
                    <div class="form-group">
                        <label for="InputWachtwoord">Wachtwoord:</label>
                        <input type="password" class="form-control" id="persoonWw" name="persoonWw" placeholder="Wachtwoord" required />
                    </div>
                    <!--check referentie behouden-->
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember" /> Onthoud mijn gebruikersnaam
                        </label>
                    </div>

                    <!--knop voor te inloggen-->
                    <button type="submit" class="btn btn-danger btn-block" id="Button1" name="Button1" onclick="Autherize(List<SelectListITem> items)" value="Inloggen">Inloggen</button>

                    <!--Link voor herstellen wachtwoord-->
                    <div class="container">
                        <span class="psw"><a href="#" style="color:red">Wachtwoord vergeten?</a></span>
                    </div>
                </form>
                <!--from end-->
            </div>

                    <div class="col-md-4 col-sm-4 col-xs-12"></div>
                </div>
            </div>
        *@
</body>
</html>
