@model IEnumerable<Roostersysteem.Models.LokaalType>

@{
    ViewBag.Title = "Index";
}

<h2>Type lokaal</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <!--Html.DisplayNameFor(model => model.LokaalTypeNaam)-->
            Type Lokaal
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LokaalTypeNaam)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LokaalTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LokaalTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LokaalTypeId })
        </td>
    </tr>
}

</table>
